@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css');


*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:inherit;
}

body{
  padding: 0;
  margin: 0;
  height: 5000px;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 9999999999;
}
header .topline {
  background: #000;
  height: 40px;
  color: #fff;
  text-align: center;
  position: relative;
}
header .topline span {
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
}
header .topline i {
  position: relative;
  top: 3px;
  left: 15px;
}
header .underline {
  background: #fff;
  height: 80px;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
}
header .underline h1 {
  margin-top: 10px;
  width: 70px;
  height: 54px;
  overflow: hidden;
}
header .underline h1 a {
  width: 100%;
  height: 100%;
}
header .underline h1 a img{
  width: 100%;
  height: 100%;
}
header .underline .category {
  align-self: end;
  width: 600px;
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  letter-spacing: 2px;
}
header .underline .category li {
  padding-bottom: 14px;
}
header .underline .category li:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 12px;
}
header .underline .category .normal-word {
  font-weight: normal;
}
header .underline .right {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;
}
header .underline .right .help {
  display: flex;
  justify-content: flex-end;
}
header .underline .right .help li {
  margin-right: 20px;
  font-size: 14px;
  
}
header .underline .right .help li:hover {
  text-decoration: underline;
}
header .underline .right .info{
  display: flex;
  justify-content: end;
}
header .underline .right .info li {
  margin-right: 30px;
  align-self: flex-end;
}
header .underline .right .info li:first-child {
  position: relative;
}
header .underline .right .info li:first-child i {
  font-size: 22px;
  line-height: 32px;
  position: absolute;
  right: 5px;
}
header .underline .right .info li input {
  height: 32px;
  width: 200px;
  background: #eee;
  border: 0px;
}
header .underline .right .info li a i {
  font-size: 22px;
}



.container .contents {
  /* margin-top: 120px; */
  width: 100%;
}

.container .first_content .first_img{
  margin-top: 120px;
  height: 840px;
  background: url(./이미지/kr_seoul_marathon_commercial_sustain4_ss24_hp_banner_asset_d_ee53a35b5e.avif)
              no-repeat center/cover;
  position: relative;                       
}
.container .first_content .first_contents{
  position: absolute;
  line-height: 1.5;
  top: 550px ;
  left: 0;
  transform: translate(0,50%);
  text-align: left;
  margin-left: 150px;
}

.container .first_content .first_contents h2{
  font-weight: 700;
  font-size: 40px;
}
.container .first_content .first_contents p{
  margin-bottom: 30px;
}

.container .first_content .first_contents .box1{
  letter-spacing: 5px;
  position: absolute;
}


.container .first_content .first_contents a{
  background: #000;
  color: #fff;
  padding: 20px 30px;
  text-align: left;
  text-decoration: none;
}



.container .first_content .first_contents a:hover{
  color: darkgray;
}



.container .first_content .first_contents i{
  margin-left: 20px;
  font-size: 30px;
  margin-left: 10px;
}

.container .first_content .first_contents .empty_box{
  border: 2px solid #000;
  height: 55px;
  width: 185px;
  margin-left: 5px;
}

.container .second_content{
  position: relative;
  height: 840px;
}


.container .second_content .second_contents{
  position: absolute;
  color: #fff;
  line-height: 2;
  top: 500px ;
  left: 0;
  transform: translate(0,50%);
  text-align: left;
  margin-left: 150px;
}

.container .second_content video{
  width: 100%;
}


.container .second_content .second_contents h2{
  font-weight: 700;
  font-size: 40px;
}
.container .second_content .second_contents p{
  margin-bottom: 20px;
}
.container .second_content .second_contents .second_box{
  background: #fff;
  color: #000;
  text-align: left;
  text-decoration: none;
  padding: 20px 30px;
  font-weight: 700;
  letter-spacing: 5px;
}


.container .second_content .second_contents i{
  margin-left: 20px;
  font-size: 30px;
  margin-left: 10px;
}

.container .second_content .empty_box{
  border: 2px solid #fff;
  height: 55px;
  width: 185px;
  margin-left: 5px;
  top: 0;
  position: absolute;
}

.container .second_content .second_contents .box2{
  position: absolute;
}

.container .second_content .second_contents .second_box:hover{
  color: darkgray;
}

.container .second_content .second_contents .fa-play-circle{
  margin-top: 30px;
  display: block;
  font-size: 50px;
  color: #fff;
  text-decoration: none;
}

.container .third_content{
  width: 100%;
  border: 2px solid #000;
  position: relative;  
}

.container .third_content .img{
  background: url(./이미지/kr_samba_og_originals_ss24_launch_mglp_banner_d_2e0180be2b.avif)
              no-repeat center/cover;  
  height: 840px;
  width: 100%;

}
.container .third_content .third_contents a{
  text-decoration: none;
  color: #000;
}

.container .third_content .third_contents .box3{
  position: absolute;
  top: 550px ;
  left: 0;
  transform: translate(0,50%);
  text-align: left;
  margin-left: 150px;
  background: #fff;
  color: hsl(0, 0%, 0%);
  padding: 20px 30px;
  font-weight: 700;
  letter-spacing: 5px;
}

.container .third_content .third_contents i{
  margin-left: 20px;
  font-size: 30px;
  margin-left: 10px;
}

.container .third_content .empty_box{
  border: 2px solid #fff;
  height: 70px;
  width: 185px;
  top: 0;
  margin-top: 5px;
  margin-left: -25px;
  position: absolute;
}

section.color_list {
  /* border: 2px solid orange; */
  height: 150px;
  width: 84%;
  margin: 20px auto;
  padding-top: 30px;
}

section.color_list h2{
  height: 20%;
  text-align: center;
}

section.color_list .color_twelve {
  /* border: 2px solid blue; */
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}

section.color_list .color_twelve a{
  width: 40px;
  height: 40px;
  /* border: 2px solid red; */
  border-radius: 50px;
}

section.color_list .color_twelve a.first_color{
  background: yellow;
}

section.color_list .color_twelve a.second_color{
  background: blue;
}

section.color_list .color_twelve a.third_color{
  background: #ecc777;
}

section.color_list .color_twelve a.fourth_color{
  border: 1px solid #000;;
}
section.color_list .color_twelve a.fiveth_color{
  background: darkgray;
}
section.color_list .color_twelve a.sixth_color{
  background: #916403;
}

section.color_list .color_twelve a.seventh_color{
  background: rgb(199, 90, 199);
}

section.color_list .color_twelve a.eighth_color{
  background: #000;
}

section.color_list .color_twelve a.nineth_color{
  background: #e60303;
}

section.color_list .color_twelve a.tenth_color{
  background: red;
}

section.color_list .color_twelve a.elventh_color{
  background: rgb(236, 103, 125);
}

section.color_list .color_twelve a.thirteenth_color{
  background: yellowgreen;
}

section.collection{
  width: 84%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  height: 600px;
}

section.collection .collection_box{
  /* border: 2px solid orange; */
  width: 24%;
  overflow: hidden;
}

section.collection .collection_box video{
  height: 500px;
}

section.collection .collection_box .contents{
  /* border: 2px solid blue; */
  width: 390px;
}

section.collection .img_box{
  background: url(./이미지/ss24_chapter_02_launch_glp_m_tc_d_40563e05cc.avif) ;

  height: 500px;
  width: 100%;
}


section.collection .collection_box .contents{
  width: 100%;
  /* border: 2px solid orange; */
}

section.collection .collection_box .contents h2{
  padding-top: 5px;
  font-weight: 700;
}
section.collection .collection_box .contents p{
  padding: 15px 0;
  font-size: 12px;
}

section.collection .collection_box .contents .padding{
  padding-bottom: 27px;
}

section.collection .collection_box .contents .second_padding{
  padding-top: 18px;
}


section.collection .collection_box .contents a{
  color: #000;
  font-weight: 700;
  font-size: 13px;
}

section.collection .collection_box .contents a:hover{
  background: #000;
  color: #fff;
  transition: 0.3s;
}

section.second_collection{
  width: 84%;
  height: 600px;
  /* border: 2px solid orange; */
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
section.second_collection .collection_box{
  width: 51%;
  height: 500px;
  position: relative;
}

section.second_collection .collection_box.box1{
  background: url(./이미지/mlp_teaser_card_01_confirmed_d_b4f5ea7e0f.avif);          
  height: 500px;
  width: 48%;
  /* border: 2px solid red; */
}
section.second_collection .collection_box.box2{
  background: url(./이미지/mlp_wlp_teaser_card_02_shoe_finder_d_31f41ff1fe.avif);
  /* border: 2px solid red; */
}

section.second_collection .collection_box .contents{
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0,100%);
}

section.second_collection .collection_box .contents h2{
  padding-top: 5px;
  font-weight: 700;
}
section.second_collection .collection_box .contents p{
  padding-top: 20px;
  font-size: 12px;
}
section.second_collection .collection_box .contents a{
  color: #000;
  font-weight: 700;
  font-size: 13px;
}

section.second_collection .collection_box .contents a:hover{
  background: #000;
  color: #fff;
  transition: 0.3s; 
}

section.trend_now{
  width: 84%;
  margin: 50px auto;
  height: 600px;
  /* border: 2px solid orange; */
  position: relative;
}
section.trend_now .trend_box{
  position: relative;
  padding-bottom: 25px;
}

section.trend_now h2{
  font-weight: 700;
  font-size: 40px;
  /* border: 2px solid red; */
}

section.trend_now h3{
  padding-top: 20px;
  font-size: 20px;
  /* border: 2px solid blue; */
  display: flex;
}
section.trend_now a{
  /* border: 2px solid yellow; */
  position: absolute;
  right: 0;
  font-size: 20px;
  color: #000;
}

section.trend_now .trend_box a:hover{
  background: #000;
  transition: 0.3s; 
  color: #fff;
}


section.trend_now .shose_box{
  width: 100%;
  padding-top: 20px;
  height: 500px;
  /* border: 2px solid orange; */
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  /* position: relative; */
  
}

section.trend_now .shose_box::-webkit-scrollbar{
  height: 4px;
  width: 100%;
}

section.trend_now .shose_box::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #000; /* 스크롤바의 색상 */
  border-radius: 10px;
  width: 5%;
}

section.trend_now .shose_box::-webkit-scrollbar-track {
  background: lightgray; /*스크롤바 뒷 배경 색상*/
}

section.trend_now .shose_box .box{
  width: 23%;
  min-width: 300px;
  height: 450px;
  /* border: 2px solid red; */
  margin: auto 10px;
  /* position: relative; */
}

section.trend_now .shose_box .box:hover{
  border: 1px solid #000;
  cursor: pointer;
}

section.trend_now .shose_box .fa-long-arrow-alt-left{
  font-size: 25px;
  padding: 15px;
  background: #fff;
  border: 1px solid #000;
  visibility:hidden;
  position: absolute;
  top:50%; 
  left: 0px;
  z-index: 100; 
}

 section.trend_now .shose_box:hover .fas{
  visibility:inherit;
}


section.trend_now .shose_box .fa-long-arrow-alt-right{
  font-size: 25px;
  padding: 15px;
  background: #fff;
  border: 1px solid #000; 
  visibility:hidden;
  position: absolute;
  top:50%;
  right: 0px;
  z-index: 100;
}



section.trend_now .shose_box .box:hover .ani{
  animation: move;
  animation-duration: 1s;
  transition: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
  

}



@keyframes move{
  0%{transform: translateY(0);}
  50%{transform: translateY(-5px);}
  100%{transform: translateY(-10px);}
}





section.trend_now .shose_box .box .boxs{
  width: 100%;
  height: 375px;
  position: relative;
}

section.trend_now .shose_box .box p{
  position: absolute;
  background: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  bottom: 0;
}


section.trend_now .shose_box .box i{
  position: absolute;
  right: 0;
  padding: 15px 15px;
  font-size: 30px;
}


section.trend_now .shose_box .box .box1{
  background: url('./이미지/2.0_Black_FX0561_01_standard.avif') center/cover;
  overflow: hidden;
}
section.trend_now .shose_box .box .box2{
  background: url('./이미지/00s_Green_H03472_01_standard.avif') center/cover;
  overflow: hidden;
}
section.trend_now .shose_box .box .box3{
  background: url('./이미지/Black_H06259_01_standard.avif') center/cover;
  overflow: hidden;
}
section.trend_now .shose_box .box .box4{
  background: url('./이미지/Blue_H06260_01_standard.avif') center/cover;
  overflow: hidden;
}

section.trend_now .shose_box .box .box6{
  background: url('./이미지/Yellow_IE0540_01_standard.avif') center/cover;
  overflow: hidden;
}
section.trend_now .shose_box .box .box7{
  background: url('./이미지/White_HQ8750_01_standard.avif') center/cover;
  overflow: hidden;
}
section.trend_now .shose_box .box .box8{
  background: url('./이미지/White_IE0546_01_standard.avif') center/cover;
  overflow: hidden;
}

section.trend_now .shose_box .box .box_content{
  padding: 5px;
} 

section.trend_now .shose_box .box .box_content h2{
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

section.trend_now .shose_box .box .box_content .br{
  font-weight: 700;
}

/* section footer */

.footer-wrap .membership {
  width: 100%;
  height: 250px;
  text-align: center;
  position: relative;
  background: rgb(233, 233, 0);
  /* border: 1px solid #ffffff; */
}
.footer-wrap .membership p {
  padding-top: 50px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
}
.footer-wrap .membership span {
  font-size: 20px;
  /* border: 1px solid #000; */
}
.footer-wrap .membership .sign-in {
  position: absolute;
  bottom: 36px;
  left: 880px;
  padding:15px;
  width: 160px;
  height: 60px;
  color: rgb(255, 255, 255);
  background: #000000;
  font-size: 20px;
  z-index: 2;
  letter-spacing: 2px;
}
.footer-wrap .membership .sign-in i {
  font-size: 25px;
  margin-left: 15px;
}

.footer-wrap .membership .sign-in2 {
  border: 1px solid #000;
  width: 160px;
  height: 60px;
  position: absolute;
  bottom: 32px;
  left: 884px;
  z-index: 1;
}
.nav-box {
  background: rgb(255, 254, 249);
}
.footer-wrap .footer-menu {
  /* border: 1px solid #000; */
  width: 60%;
  height: 400px;
  margin: 0 auto;
  display: flex;
}
.footer-wrap .footer-menu ul {
  width: 16.66%;
}
.footer-wrap .footer-menu h2 {
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.footer-wrap .footer-menu li {
  /* border: 1px solid #000; */
  margin-bottom: 10px;
}
.footer-wrap .footer-menu li:hover {
  text-decoration: underline;
}
.footer-wrap .nav-box p {
  width: 60%;
  padding: 10px 0;
  margin: 0 auto;
  /* border: 1px solid #000; */
}
.footer-wrap .nav-box i {
  font-size: 26px;
}
.footer-end {
  /* border: 4px solid #dff300; */
  background: #26252e;
  width: 100%;
  height: 120px;
}
.footer-end .option-list {
  /* border: 4px solid rgb(0, 92, 34)fff; */
  width: 100%;
  color: #b9b9b9;
  display: flex;
  justify-content: center;
}
.footer-end .option-list li {
  border-right: 1px solid #ffffff;
  margin-top: 30px;
  padding: 0 20px;
  font-size: 14px;
}
.footer-end .option-list li:last-child {
  border-right: none;
}
.footer-end p {
  /* border: 4px solid #ff0000; */
  margin-top: 50px;
  color: #b9b9b9;
  font-size: 12px;
  text-align: center;
}






