
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css');

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both
}

a {
    color: inherit;
    text-decoration: none;
}